@charset "utf-8";
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,button,p,input,img{
    margin:0;
    padding:0;
}
body{
    font-family:PingFangSC-Regular;
    color:#666;
    font-size:14px;
}
input,select,textarea{
    border:1px solid #eee;
    outline:none;
}
li{list-style:none;}
a{text-decoration:none;}
i,em{font-style:normal;}
img{
    border:none;
    vertical-align:middle;
}
.fl{float:left;}
.fr{float:right;}
.clear:after{
    content:'';
    height:0;
    visibility:hidden;
    display:block;
    clear:both;
}
.clear{
    zoom:1;
}
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
html,body{
	height: 100%;
  width: 100%;
}
html{
    font-size: 7.32vw;
}
*{
	box-sizing: border-box;
}
